<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>

    <div id="div1">
        <!--SideBar-->
        <div id="SideBar">

            <div id="menu">
                <div id="titleMenu">
                    <h2>Menu</h2>
                </div>
                <div id="imgMenu">
                    <img src="/public/img/img-Dashboard2.jpg" alt="bike">
                </div>
            </div>

            <div id="profile">
                <div id="nombre">
                    <p>Nombre Apellido</p>
                </div>
                <div id="imgProfile">
                    <img src="/public/img/profile.jpg" alt="fotoPerfil">
                </div>
            </div>

            <div id="navBar">
                <div>
                    <p>Ultimo usuario creado</p>
                </div>
                <div>
                    <p>Ultimo producto creado</p>
                </div>
                <div>
                    <p>Listado de productos</p>
                </div>
                <div>
                    <p>Listado de categorias</p>
                </div>
            </div>

        </div>
        <!--Fin SideBar-->
    </div>

    <div id="div2">

        <!--HEADER-->
        <div id="header">

            <div id="titulo">
                <h1>Dashboard</h1>
            </div>

            <div id="logo">
                <a href="/"><img src="/public/img/DevBiker1.png" alt="Logo-Devbiker"></a>
            </div>

        </div>
        <!--Fin HEADER-->

        <!--Main-->
        <div id="main">

            <div id="dashboard">
                <div id="container">
                    <div>
                        <p class="text">Total productos</p>
                        <p class="numero">28</p>
                    </div>
                    <div id="icon">
                        <i class="fa-solid fa-bicycle"></i>
                    </div>
                </div>
                <div id="container">
                    <div>
                        <p class="text">Total usuarios</p>
                        <p class="numero">8</p>
                    </div>
                    <div id="icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                </div>
                <div id="container">
                    <div>
                        <p class="text">Total categorias</p>
                        <p class="numero">4</p>
                    </div>
                    <div id="icon">
                        <i class="fa-solid fa-sitemap"></i>
                    </div>
                </div>
            </div>

            <div id="mainDinamico">
                <div><img src="/public/img/img-Dashboard.jpg" alt="imgPrincipal"></div>
            </div>

        </div>
        <!--Fin Main-->
    </div>

</body>

</html>