<%- include("../partials/head.ejs") %>

<header>
    <div class="top-header">
        <div class="barra"><p class="barra-text">"Lo que gastas en tu bicicleta, lo ahorras en salud"</p></div>

            <% if(locals.isLogged && locals.userLogged.roleId == 1){ %>
                <div class="login3">
                    <div class="perfilNav">
                        <a href="/users/perfil"><p>Admin <%= locals.userLogged.nombre %></p></a>
                    </div>
                    <div class="logout">
                        <a href="/users/logout"><p>CERRAR SESIÓN</p></a>
                    </div>
                </div>
            <% } %> 

            <% if(locals.isLogged && locals.userLogged.roleId !== 1){ %>
                <div class="login2">
                    <div class="perfilNav">
                        <a href="/users/perfil"><p>
                            <i class="fas fa-user"></i> 
                            <%= locals.userLogged.nombre %></p></a>
                    </div>
                    <div class="logout">
                        <a href="/users/logout"><p>CERRAR SESIÓN</p></a>
                    </div>
                </div>
            <% } 

            if(!locals.isLogged) { %>
                <div class="login">
                    <a href="/users/login">INICIAR SESIÓN</p></a>
                </div>
            <% } %>
        </div>

    <div class="nav">
        <div class="logo">
            <a href="/"><img src="/img/DevBiker1.png" alt="Logo-DevBiker"></a>
        </div>
        <div class="nav-list">
            <ul>
                <a href="/products"><li>BICICLETAS</li></a>
                <a href="/products/oferta"><li>OFERTAS</li></a>
                <% if(locals.isLogged && locals.userLogged.roleId == 1){ %>
                <a href="#"><li>DASHBOARD</li></a>
                <% } else { %>
                <li>NOSOTROS</li> 
                <% } %>
            </ul>
        </div>
        <div class="burger-menu" > 
            <nav>
               
                <input type="checkbox" id="menu">
                <label for="menu"> ☰ </label>
                <ul class="nav-menu">
                  <li> <a class="active" href="/products"> BICICLETAS</a></li>
                  <li><a href="/products/oferta">OFERTAS </a></li>
                  <% if(locals.isLogged && locals.userLogged.roleId == 1){ %>
                    <a href="#"><li>DASHBOARD</li></a>
                    <% } else { %>
                    <li>NOSOTROS</li> 
                    <% } %>
                </ul>
              </nav>
              
    </div>
<div class="icons">
            <i class="fas fa-search"></i>
            <i class="far fa-heart"></i>
            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
 
</header>
